body
{
	color: blueviolet;
	text-align: left;
	font-family: "UbuntuMono Nerd Font";
	font-size: 16px;
}
#develop
{
	width: 70%;
	padding: 1em;
	text-align: left;
	border: 1px solid #ddd;
}

#develop h1
{
	font-size: 20px;
}
